DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATA_FILE=./data/blocked-users.json
ALLOWED_COMMAND_ROLE_IDS=
ALLOWED_COMMAND_ROLE_NAMES=

# optional:
ACTION_LOG_CHANNEL_ID=
REMOVE_JOIN_MESSAGES_ON_BOUNCE=true